.gal-pro .hovereffect .overlay h3 {
  padding: 45% 0 0 5%;
}

.c-categories {
  padding-right: 15px;
  padding-left: 15px;
}

.imgbg-page {
  height: 50vh;
}

.gallery-div {
  padding-top: 0;
}

.gallery-div div {
  padding-top: 0;
}

.whitepage * {
  color: #dadada !important;
}

.offer-header {
  padding-bottom: 25px;
}

.offer-container {
  padding-bottom: 35px !important;
}

