.gal-pro .hovereffect .overlay h3{
    padding: 45% 0 0 5%;
}

img.mfp-img{
  padding: 10px 0;
  width:auto;
}

.mfp-container{
  padding:0;
}


.c-categories{
    padding-right: 15px;
    padding-left: 15px;
  font-size: 8pt;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  list-style: none;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#filter-porto{
  text-align: center;
}
//
//.imgbg-page{
//    height: 50vh;
//}
//
//.gallery-div{
//    padding-top: 0;
//    div{
//        padding-top: 0;
//    }
//}